.nav {
    padding: 40px 0;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo, a.nav__logo {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
}

a.nav__logo:hover {
    color: #F72464;
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__item {
    margin-right: 30px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
.nav__link:hover {
    color: #F72464;
}



.nav__cart-link {
    position: relative;
    display: inline-block;
    padding: 5px;
    top: 5px;
}

.nav__cart-number {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    background: #F72464;
    text-align: center;

}